/*
.home_wrapper{
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  min-height:100%;
  font-size: 40px;
  line-height: 45px;
  font-family: fantasy;
}
.about{
  width: 100%;
  display: block;
  border-bottom: 1px black solid;
}
.about_info{
}
.providers{

  border-bottom: 1px black solid;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas:  " img info";

}
.providers_info{
grid-area: info;
}
.providers_img{
grid-area: img;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "a one b"
}
.providers_img_align{
  grid-area: one;
}
.product-image{
  grid-area: img;
}

p{
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-size: 40px;
  line-height: 45px;
  margin-top:0;
  margin-bottom: 0;
}

.howTouse{

  border-bottom: 1px black solid;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: " info img";

}
.howTouse_img{
  grid-area: img;
}
.howTouse_info{
  grid-area: info;
}
img{
  display:block;
}
.providers_img_svg{
  margin-bottom: 10px;

}
.profile a{
  font-size: 20px;
}
*/
[hidden] { display: none !important;}
.mainWrapper{

  margin-left:5%;
  margin-top:20px;
  width: 90%;
  min-height: 650px;
}
.homeWrapper1{
  display: grid;
}

.homeWrapper2{
  display: grid;
}
.providers{
  height: 650px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "first second third";
}
.aboutApp{
  width: 100%;
  height: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "info whatsNew";
}
.section{
}
.section1{
  grid-area: first;
}
.section2{
  grid-area:second;
}
.section3{
  grid-area: third;
}
.section4{
  grid-area: info;
}
.section5{
  grid-area: whatsNew;
}
button{
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  top: 50%;
}
.buttonLeft {
  left: 0%;
}
.buttonRight{
  left:98.5%;
}
mat-card{
  height:95%;
  width:90%;
  text-align: center;
}
h1{

  font-family: fantasy;
  font-weight: bold;
  font-size: 40px;
}
.providers_img{
  margin-bottom: 30px;
}
.card_info{
  font-size: 26px;
  font-family: fantasy;
}
.emagCard{
  margin-bottom: 50px;
}
.flancoCard{
  margin-bottom: 60px;
}
.aboutImg{
  margin-bottom: 30px;
  background-color: #319177;
}
.about_info{
  font-size: 24px;
  font-family: fantasy;
}
.whyMyApp_info{
  font-size: 24px;
  font-family: fantasy;
}
