@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.header-wrapper {
  margin: 0;
  margin-bottom: 10px;
  background-color: #319177 ;

  font-weight: 100;

  font-family: 'Open Sans', sans-serif;
  color: white;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 50px;
  grid-template-areas: "logo search profile";
}
.logo{
  display: flex;
  justify-content: space-around;
  grid-area: logo;
  font-size: 40px;
  text-align: center;
}
.search{
  display: flex;
  grid-area: search;
  justify-content: space-around;
}
.profile{
  grid-area: profile;
}

a{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50px 1fr;
  grid-template-areas: "profilelogo profilename";
  color:white;
  text-decoration: none;
}
.profileName{
  grid-area: profilename;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 10px;
  display:inline-block;
  font-size: 35px;
}
.profile_logo{
  grid-area: profilelogo;
  display: inline-block;
  font-size: 45px;
  padding-right: 25px;
}
