<div class="header-wrapper">
  <div class="logo">
    <a routerLink="/home">
      <img class="providers_img_svg" height="45px" src="../../assets/logo.png">
    </a>
  </div>
  <div class="search">
    <a routerLink="/search-result">
      <img class="providers_img_svg" height="45px" src="../../assets/compare3.png">
    </a>
  </div>

  <div class="profile">
    <a routerLink="/profile">
      <mat-icon class="profile_logo">account_circle</mat-icon>
      <p class="profileName">{{name}}</p>
    </a>
  </div>
</div>
