.header-wrapper {
  background-color: #313854;
  padding: 10px 0 15px;

  font-weight: 300;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px;
  grid-template-areas: "logo search profile";
}
.logo{
  grid-area: logo;
  text-align: center;
}
.search{
  grid-area: search;

  text-align: center;

}
.profile{
  grid-area: profile;

  text-align: center;
}
a{

  text-align: center;
  color:#eee;
}
