.header-wrapper {

  background-color: #319177 ;
  padding: 10px 0 15px;

  font-weight: 300;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: rgb(0, 45, 60);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px;
  grid-template-areas: "logo search profile";
}
.logo{
  grid-area: logo;
  text-align: center;
}
.search{
  grid-area: search;

  text-align: center;

}
.profile{
  grid-area: profile;

  text-align: center;
}
a{

  text-align: center;
  color:rgb(0, 45, 60);
  text-decoration: none;
}
